In [9]:
x=5

In [10]:
y=2

In [11]:
x+y

7

In [ ]:
variable is nothing but value holder

In [12]:
x=8

In [13]:
y=5

In [14]:
x-y

3

In [22]:
a=54

In [23]:
b=9

In [24]:
a/b

6.0

In [25]:
a=9

In [26]:
b=8

In [27]:
a*b

72

In [ ]:
Rules for delcaring variables
No name spaces in between variables declarations

In [28]:
first_name='dell'

In [29]:
print(first_name)

dell

In [ ]:
spaces should not be used instead use underscores

In [38]:
first_name='Bala'

In [39]:
second_name='storage'

In [40]:
print(first_name,second_name)

Bala storage

In [ ]:
2> variables name should not start with a number

In [41]:
1name='swetha'

SyntaxError: invalid syntax (<ipython-input-41-4e97d65da31d>, line 1)

In [ ]:
number can be placed after the variables

In [43]:
name1="ilayaraja"

In [44]:
print(name1)

ilayaraja

In [ ]:
should not use special character while declaring the variable name

In [45]:
@name='Anil' # using special character had throwed the below error

SyntaxError: invalid syntax (<ipython-input-45-15f09633c482>, line 1)

In [ ]:
# is used for comments

In [ ]:
Introduction to data types in python

In [ ]:
string
list
tuple
dictionaries

In [ ]:
classification of data types:
    
    Immutable data types
    mutable data types

In [ ]:
Immutable data types: we cant able to modify/alter/reassing the data once its get assigned

In [ ]:
mutable data types: we can able to modify/alter/reassign the data once its get assigned

In [ ]:
Introduction to string data types:
    string is nothing but a series of character.
    A series is classifed as a immutable data types

In [ ]:
How to define a string ...?

In [ ]:
we can able to define a string by using following ways
1. single quotes
2.double quotes
3.triple quotes

In [47]:
name='Anil'

In [48]:
print(name)

Anil

In [ ]:
double quotes example

In [50]:
name="Aishwarya"

In [51]:
print(name)

Aishwarya

In [ ]:
Triple quotes example

In [54]:
name='''samantha'''

In [55]:
print(name)

samantha